{
  "md5": "4887637068128089084",
  "virtrouter": {
    "id": "5a7842b2-83ef-4aa0-831e-af01b054ad35",
    "type": 0,
    "prefix": "/",
    "middlewares": [],
    "enable": true,
    "dynamic": false,
    "hid": "7cb4e397",
    "children": [
      {
        "id": "bbdf388f-4d34-42f7-a079-ddc13f764460",
        "type": 1,
        "prefix": "/admin",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "c4abd3c5",
        "children": [
          {
            "id": "1db950b1-b7d8-4da6-9003-b0fece0b7ad5",
            "type": 2,
            "prefix": "/index",
            "middlewares": [],
            "enable": true,
            "dynamic": false,
            "hid": "8729ae8",
            "children": null
          },
          {
            "id": "598fb917-281d-41d9-afdd-9ee20507afd9",
            "type": 1,
            "prefix": "/login",
            "middlewares": [],
            "enable": true,
            "dynamic": false,
            "hid": "bf174920",
            "children": [
              {
                "id": "14c3a8ea-ea8c-4df5-84de-5d1d6e188490",
                "type": 2,
                "prefix": "/",
                "middlewares": [],
                "enable": true,
                "dynamic": false,
                "hid": "1556744e",
                "children": null
              }
            ]
          }
        ]
      },
      {
        "id": "7cd42463-e62a-46e9-aea2-e65a1f9f2ede",
        "type": 2,
        "prefix": "/apidoc/*filepath",
        "middlewares": [
          {
            "name": "OnlyLANAccess",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "b16f8ec3",
        "children": null
      },
      {
        "id": "a5cfa4f9-aa75-44cc-b28b-b7688db80c19",
        "type": 1,
        "prefix": "/home",
        "middlewares": [
          {
            "name": "打印测试",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "514af34b",
        "children": [
          {
            "id": "82e515bc-bec8-4e07-819d-0b0697f916e2",
            "type": 2,
            "prefix": "/index",
            "middlewares": [
              {
                "name": "显示Header",
                "config": ""
              }
            ],
            "enable": true,
            "dynamic": false,
            "hid": "3636deec",
            "children": null
          }
        ]
      },
      {
        "id": "96a7d30b-f515-49e5-94c0-5e7c82690edc",
        "type": 2,
        "prefix": "/swagger.json",
        "middlewares": [
          {
            "name": "OnlyLANAccess",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "e2b194aa",
        "children": null
      },
      {
        "id": "fcfd1754-b18b-45fe-b538-e8b28ec30f1c",
        "type": 2,
        "prefix": "/websocket",
        "middlewares": [
          {
            "name": "显示Header",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "73e80515",
        "children": null
      }
    ]
  }
}